[http]
	postBuffer = 524288000
[core]
	autocrlf = false
	filemode = false
	longpaths = true
	whitespace = cr-at-eol
	editor = vim
	fscache = true 
[pull]
	rebase = true
[include]
	path = .gitconfig.os
	path = .gitconfig.proxy
	path = .gitconfig.user

# [at win]
# copy D:\myworks-github\dotfiles\.gitconfig.proxy.sample %userprofile%\.gitconfig.proxy
# copy D:\myworks-github\dotfiles\.gitconfig.user.sample %userprofile%\.gitconfig.user
# mklink %userprofile%\.gitconfig.os D:\myworks-github\dotfiles\.gitconfig.os.win7
# mklink %userprofile%\.gitconfig D:\myworks-github\dotfiles\.gitconfig

# [at mac]
# cp -p ~/myworks-github/dotfiles/.gitconfig.proxy.sample ~/.gitconfig.proxy
# cp -p ~/myworks-github/dotfiles/.gitconfig.user.sample ~/.gitconfig.user
# ln -s ~/myworks-github/dotfiles/.gitconfig.os ~/.gitconfig.os.mac
# ln -s ~/myworks-github/dotfiles/.gitconfig ~/.gitconfig

